
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    font-family: 'Silkscreen';
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 2px;
    color: rgb(103, 210, 116);
    margin-top: 5px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

#logo-qm {
    font-size: 16px;
    font-family: 'Silkscreen';
    font-weight: 400;
}

body{
    background-color: rgb(33, 30, 30);
}

.room-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    margin-top: 110px;
}

/* #room-input {
    width: 10rem;
    height: 30px;
    margin-top: 20px;
    border-radius: 10px;

} */

/* #room-title {
    font-family: 'Lato';
    font-weight: 900;
    letter-spacing: 1.3px;
    color: rgb(103, 210, 116)
} */

.btn-submit {
    font-family: 'Lato';
    font-weight: 900;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: rgb(103, 210, 116);
    color: rgb(33, 30, 30);
    border-radius: 10px;
    border: 2px solid rgb(103, 210, 116);
    transition-duration: 0.4s;
    box-shadow: 4px 6px rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 40px;
}

.btn-submit:hover {
    background-color: rgb(33, 30, 30);
    color: white;
    border: 2px solid rgb(103, 210, 116);
}

.pending-team-container {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-bottom: 15px;
    padding: 5px;
    background-color: rgba(187, 209, 209, 0.71);
    border-radius: 10px;
}

.svg-icon {
    /* background-color: rgb(103, 210, 116); */
    fill: white;
    stroke: white;
}

.svg-icon:hover {
    transition-duration: 0.4s;
    fill: rgb(103, 210, 116);
    stroke: rgb(103, 210, 116);
}

#delete:hover {
    transition-duration: 0.4s;
    fill: red;
    stroke: red;
}

p {
    font-family: 'Lato';
}

.page-title {
    font-family: 'Lato';
    color: white;
    /* text-shadow: 2px 2px rgba(0, 0, 0, 0.7); */

}

